.day-container {
    width: 200px;
    color: rgb(255, 255, 255);
    
}

.day-container h3,
span {
    font-weight: bolder;
}

span {
    font-size: 0.7em !important;
}

.day-container p {
    font-size: 0.9em !important;
    font-weight: 500;
}