* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* parent containers */

.weather-app-container {
    /* display: flex; */
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    /* gap: 100px; */
}

.top-container {
    width: 40%;
    align-self: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto 50px;
    height: max-content;
    border-radius: 15px;
    background: linear-gradient(to right, #108dc7, #ef8e38);
    color: whitesmoke;
    text-shadow: rgba(0, 0, 0, 0.295) 2px 2px 2px;
    text-align: center;
}

.top-container h1,
.top-container h3 {
    margin: 0 auto;
}

.city-temp {
    margin: 5px auto;
    display: flex;
    align-items: center;
}

.city{
    width: 40%;
    padding-right: 5px;
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    /* place-items: center; */
}

.todayPrev {
    width: 60%;
    font-size: 0.7em;  
    border-left: 1px rgba(255, 255, 255, 0.674) solid;

}

#appLogo {
    text-shadow: rgb(70, 70, 71) 2px 3px 2px !important;
}




/* FORECAST container */
.forecast-container {
    padding: 2px 10px 7px;
    display: flex;
    flex-direction: column;
    background-color: #108dc7b7;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
}

.forecast-items {
    display: flex;
}

.dayInfos {
    padding: 0px 20px;
    border-right: 1px rgba(255, 254, 254, 0.24) solid;
    text-shadow: rgba(0, 0, 0, 0.164) 1px 1px 1px;
}

.nextBtn {
    width: 10%;
    height: 50px;
}

/* form */

form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
}

input {
    padding: 10px 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 350px;
    border: none;
    text-align: center; 
    background-color: #d8eaf3;
    outline:#e5e3e3 1.5px solid;
}

input:focus{
    outline: #f07c17 1.5px solid;
    font-weight: bold;
    color: rgb(70, 70, 71);
}

.searchBtn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    background-color: #f07c17;
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 100px;
    cursor: pointer;
    outline: #f07c17 1.5px solid;

}

.searchBtn:hover {
    opacity: 0.7;
}

h2 {
    width: 100%;
}

/* HORIZONTAL SCROLLBAR  */

/* width */
::-webkit-scrollbar {
    height: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: skyblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(64, 109, 206);
}